@import "tailwindcss";

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}
.inter-123 {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.card-shadow {
  outline: 1px solid #0000;
  box-shadow: 0 0 2px #0000001f, 0 3px 6px #0000000a, 0 4px 8px #00000014;
}
